body {
  overflow-x: hidden;
}

.ellipse {
  width: 150%;
  height: 600px;
  margin-left: -25%;
  margin-top: 40px;
  background: #ffffff;
  z-index: 1;
  border-radius: 100%;
}

.movie {
  z-index: 2;
  margin-top: -630px;
  margin-right: 2%;
  background-repeat: no-repeat, repeat;
}

.movie-image {
  width: max-content;
}

.play-image {
  z-index: 3;
  margin-top: -630px;
  width: max-content;
}

.nav-link {
  color: white !important;
}

.b-navbar {
	width: 65%;
	left: 20%;
	height: 150px;
}

.gap {
	gap: 40px;
}

.border-smooth {
	border-bottom: 1px solid gray;
}

.navbar-font {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0.02em;
	text-align: left;
}

.nav-bar1{
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgba(0, 0, 0, 0.25);
	z-index: 10;
}

.start-text-gray {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.6);
}

.text-component {
  padding-left: 20%;
  z-index: 2;
}

.text-font {
  font-weight: 800;
  font-size: 62px;
  line-height: 140%;
  letter-spacing: 0.04em;
}

.h5-font {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.text-width {
  width: 70%;
}

.text-font-white {
  -webkit-text-fill-color: white;
}

.try-free-button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 1000;
  font-size: 50px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.text-font-gradient {
  background: linear-gradient(91.48deg, #f4b913 3.01%, #8df53a 96.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}